.score-outer
{
	position:absolute;
	top:25;
	left:25;
	width:625px;
	height:625px;
	font-family:Arial;
	color:rgba(0,0,0,0.2);
	margin-left:auto;
	margin-right:auto;
}

.score
{
	position:relative;
	top:170;
	text-align:center;
	font-size:200pt;
	
}

.letters
{
	position:relative;
	text-align:center;
	top:100;	
	font-size:75pt;
}

.timer
{
	position:absolute;
	top:0;
	font-size:75pt;
	width:95%;
	text-align:right;
}

.goodword
{
	-webkit-animation: goodwordanim 0.5s linear; /* Chrome, Safari, Opera */
	animation: goodwordanim 0.5s linear infinite;
}

.badword
{
	-webkit-animation: badwordanim 0.5s linear; /* Chrome, Safari, Opera */
	animation: badwordanim 0.5s linear infinite;
}

@-webkit-keyframes goodwordanim
{
	0%   {color: rgba(0,0,0,0.2); }
	75%  {color: rgba(0,255,0,0.2);}
	100% {color: rgba(0,0,0,0.2);}
}

@keyframes goodwordanim
{
	0%   {color: rgba(0,0,0,0.2); }
	75%  {color: rgba(0,255,0,0.2);}
	100% {color: rgba(0,0,0,0.2);}
}

@-webkit-keyframes badwordanim
{
	0%   {color: rgba(0,0,0,0.2); }
	75%  {color: rgba(255,0,0,0.2);}
	100% {color: rgba(0,0,0,0.2);}
}

@keyframes badwordanim
{
	0%   {color: rgba(0,0,0,0.2); }
	75%  {color: rgba(255,0,0,0.2);}
	100% {color: rgba(0,0,0,0.2);}
}
